.root {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  margin: 40px;
}

.controlButton {
  padding: 10px 20px;
  margin: 0 3px;
  background-color: white;
  text-transform: uppercase;
  user-select: none;

  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.activeButton {
  background-color: rgb(151, 151, 151);
}

.additionalControl {
  margin-left: 30px;
}